scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['192.168.99.1:3001']
rule_files:
  - 'alert.rules'

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']